body{
  background-color: #464646;
}
.pluie{
   background: url("./assets/Image\ Pluie.jpg"); 
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
}
.soleil{
   background: url("./assets/Image\ soleil.jpg"); 
   background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}
.meteoBlock{
   margin-left: 25px;
   margin-top: 25px;
}
.city{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 48px;
   font-weight: bold;
}
.temp{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
   margin-top: 20px;
}
.dateBlock{
   display:flex;
   justify-content: space-between;
   margin-left: 100px;
   margin-right: 25px;
   margin-top: 25px;
   margin-bottom: 60px;
   align-items: center;
}
.dataBlocks {
   display: flex;
   justify-content: space-between;
   margin-left: 100px;
   margin-right: 100px;
}
.dropDownBlock {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 100px;
}